# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=

# App Configuration
VITE_API_URL=https://screamcasebot.onrender.com
APP_URL=https://scream-case-bot.vercel.app
CHANNEL_URL=https://t.me/ScreamCase
VITE_TON_WALLET=your_wallet_address_here
VITE_ADMIN_IDS=7782281997,5396975347
